@font-face {

    font-family: 'GothicA1';
    src: local('Gothic A1 Bold'), local('Gothic-A1-Bold'),
        url('../fonts/GothicA1-Bold.woff2') format('woff2'),
        url('../fonts/GothicA1-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
@font-face {
    font-family: 'Gothic';
    src: local('Gothic A1 Regular'), local('Gothic-A1-Regular'),
        url('../fonts/GothicA1-Regular.woff2') format('woff2'),
        url('../fonts/GothicA1-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body {
	font-family: 'Gothic'; 
   /*font-weight: normal; */
   font-style: normal;
   font-size: 28px;
   color: #54595f;
   line-height: 1.9;
}
h1 {
	font-size: 58px;
}
h2 {
	font-size: 30px;
}
section {	
	margin-bottom: 60px;
}
.bg-pink {
	background-color: #fdeef6;
	padding: 10px 25px 30px;
}
.bg-gray {
	background-color: #f6f6f6;
	padding: 10px 25px;
}
/*#programmSeminar, #Autor, #Price, #Contact {
	padding-top: 20px;
}*/
.navbar {
	width: 100%;
	position: fixed;
	top: 0;
}
.bg-light {
    background-color: rgba(200, 230, 201, .95)!important;
    z-index: 2;
}
.navbar-collapse {
	justify-content: flex-end;
}
.nav-link {
	font-size: 18px;
}
.nav-link:hover:after {	
	content: "";
    bottom: 0;
    height: 3px;
    width: 100%;
    left: 0;
    z-index: 2;
    transform: scale(1);
    display: block;
    background-color: rgba(255,0,153,0.5);

}
.navbar-toggler {
	margin: 0 auto;
}
.navbar-nav {
	text-align: center;
}
.startSeminar {
	padding-top: 100px;
	padding-bottom: 30px;
}
.headerLeft {
	text-align: center;
	margin-bottom: 30px;
}
.headerTitleDesc {
	color: #5e5e5e;
	line-height: 1.9;
	margin-bottom: 20px;
}
.headerTitleDesc b {
	text-transform: uppercase;
	display: block;
}
.headerTitle {
	margin-top: 40px;
	text-transform: uppercase;
	color: #ec4498;
}
.headerDesc {
	margin: 10px 0px 30px 0px;
}
.wantSeminar {
	padding: 20px 40px;
	background-color: #61ce70;
	color: #fff;
	text-transform: uppercase;
	/*margin-top: 40px;
	margin-bottom: 40px;*/
	border-radius: 8px;
	font-size: 20px;
}
.wantSeminar:hover {
	text-decoration: none;
	color: #fff;
}
.headerRight {
	vertical-align: center;
}
.headerImages {
	margin-top: 20px;
	max-width: 100%;
	border-radius: 15px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}
.nowYou {
	/*margin-top: 20px;*/
}
.nowYouTitle {
	text-align: center;
	color: #7a7a7a;
	width: 100%;
	margin-bottom: 30px;
}
.media {
	margin-top: 30px;
}
.last-child {
	margin-top: 60px;
}
.fa-circle {
	color: #61ce70;
	margin-top: 10px;
}
.media-body {
	padding: 0 15px;
	font-size: 18px;
}
.media-body span {
	font-family: 'GothicA1';
	font-weight: bold;
}
.forWhomTheSeminar .col-md-9 {
	margin-bottom: 40px;
}
.forWhomTheSeminar .col-md-3 {
	text-align: center;
}
.forWhomTheSeminarTitle {
	text-align: center;
}
.forWhomSeminar {
	max-width: 100%;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	border-radius: 10px;
}
.fa-star {
	color: #ec4498;
}
.whyWeTitle {
	text-transform: uppercase;
	font-family: 'GothicA1';
	text-align: center;
	margin: 15px 0;
}
.fa-check-circle {
	font-size: 43px;
}
.beforeProgramm .col-md-4 {
	text-align: center;
}
.beforeProgrammTitle {
	text-align: center;
	font-size: 18px;
	margin-bottom: 20px;
}
.beforeProgrammImage {
	max-width: 100%;
	margin-bottom: 25px;
}
.programmTitle {
	display: block;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #dcf4e0;
	color: #5e5e5e;
	text-transform: uppercase;
	text-align: center;
	font-family: 'GothicA1';
	font-size: 50px;
}
.programmList {
	margin-top: 20px;
	font-size: 18px;
	padding-left: 0;
}
.programmListDesc {
	margin-left: 40px;
	line-height: 2;
}
.programmListDesc:last-child {
	margin-bottom: 40px;
}
.programmListDesc:first-child {
	margin-top: 20px;
}
.autorSeminarTitle {
	display: block;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #fdeef6;
	color: #5e5e5e;
	text-transform: uppercase;
	text-align: center;
	font-family: 'GothicA1';
	font-size: 50px;
}
.autorSeminarDesc {
	margin: 30px 0px;
}
.autorDescription {
	margin: 20px 0px;
}
.autorLineTimofeeva {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fdeef6;
}
.autorLineShevchenko {
	content: "";
	display: block;
	width: 100%;
	height: 20px;
	background-color: #fdeef6;
}

.fa-calendar-check {
	border: 5px solid #5e5e5e;
	font-size: 45px;
    padding: 30px;
    border-radius: 100px;
    margin-bottom: 30px;
}
.dataSeminarTitle {
	font-family: 'GothicA1';
}
.dataSeminarDesc {
	margin-top: 40px;
	line-height: 2;
}
.dataSeminarImg {
	max-width: 100%;
}
.priceSeminarImg {
	max-width: 100%;
}
.priceSem {
	margin-top: 30px;
	margin-bottom: 30px;
}
.lineIndent {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #5e5e5e;
	margin-top: 15px;
	margin-bottom: 15px;
}
.placeSeminarTitle {
	font-family: 'GothicA1';
}
.placeSeminarDesc {
	font-size: 22px;
}
.footer {
	font-size: 14px;
}
.footer a {
	display: block;
	text-decoration: none;
	color: #5e5e5e;
}
.footerDesc {
	line-height: 2;
}
@media (max-width: 1200px) {
	body {
		font-size: 20px;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size: 34px;
	}
}
@media (max-width: 900px) {
	body {
		font-size: 16px;
	}
	h1 {
		font-size: 34px;
	}
	h2 {
		font-size: 26px;
	}
}
@media (max-width: 765px) {
	.autorSeminarDesc {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.autorSeminarDesc img {
		margin-right: auto!important;
		margin-left: auto!important;
	}
	.dataSeminarImg {
	max-width: 70%;
	}
	.placeSeminarTitle {
		font-size: 24px;
	}
	.placeSeminarDesc {
		font-size: 14px;
	}
	.placeGeo {
		margin-top: 30px;
	}
	.logoFooter, .footerDesc, .footerAdress {
		text-align: center;
	}
	.footerDesc {
		margin-top: 20px;
	}
	.footerLogo {
		max-width: 25%;
	}
}