html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'SF UI Display', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.contacts {
  max-width: 1200px;
  margin: 0 auto;
}

.contacts__inner {
  background-color: #ffffff;
  border-radius: 10px;
}

.contacts__wrap {
  padding: 64.77px 88.71px 46.84px 89.37px;
}

.contacts__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: 'SF UI Display', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 21px;
}

.contacts__img {
  margin-right: 8px;
}

.contacts__towndown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SF UI Display', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.contacts__towndown-bottom {
  margin-bottom: 54px;
}

.contacts__desc-adress {
  max-width: 330px;
}

.contacts__desc a {
  color: #000000;
  text-decoration: none;
}

.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__items a {
  text-decoration: none;
  color: #000000;
  margin-bottom: 10px;
}

.contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__description {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'SF UI Display', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 167.34%;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts__description p {
  margin-bottom: 0;
  font-family: 'SF UI Display', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 167.34%;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts__opening-hours {
  font-family: 'SF UI Display', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 70px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__opening-hours svg {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */