.team
    &__subtitle
        margin-bottom: 20px
        letter-spacing: 7%
        max-width: 1100px
    &__wrap
        display: flex
        justify-content: space-between
        margin-bottom: 30px
    &__img
        flex-basis: 33%
    &__description
        flex-basis: 60%
        p
            margin-bottom: 20px